In [44]:
#import dependencies 
from bs4 import BeautifulSoup
import requests
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time

In [58]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/96.0.4664.45/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\gtmor\.wdm\drivers\chromedriver\win32\96.0.4664.45]

# NASA Mars News

In [67]:
#url of webpage and navigation to page
url = "https://redplanetscience.com/"
browser.visit(url)

In [68]:
time.sleep(4)

#making html object
mars_news = browser.html

#using beautiful soup to parse object 
soup = BeautifulSoup(mars_news, 'html.parser')

#getting first title
news_title = soup.find('div', class_='content_title').text
print(f"first news title: {news_title}")

#getting first paragraph text 
news_p = soup.find('div', class_ = 'article_teaser_body').text
print(f"first paragraph: {news_p}")

first news title: NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities
first paragraph: Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.

# JPL Mars Space Image

In [69]:
img_url = 'https://spaceimages-mars.com/'
browser.visit(img_url)

In [70]:
mars_img = browser.html

soup = BeautifulSoup(mars_img, 'html.parser')

img_src = soup.find('img', class_='headerimage fade-in')['src']

img_url = img_src.replace("background-image: url('","").replace("');","")
featured_image_url = f"https://spaceimages-mars.com/{img_url}"
print(f"featured image url = {featured_image_url}")

featured image url = https://spaceimages-mars.com/image/featured/mars2.jpg

# Mars Facts

In [73]:
#url and opening table in html using pandas 
facts_url = 'https://galaxyfacts-mars.com/'
facts_table = pd.read_html(facts_url)
facts_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [85]:
#create table from html
type(facts_table)
facts_df = facts_table[0]
facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [94]:
#label columns 
facts_df.columns = ["Mars-Earth Comparison", "Mars", "Earth"]
facts_df = facts_df.set_index("Mars-Earth Comparison")
facts_df

                                  Mars            Earth
Mars-Earth Comparison
Diameter:                     6,779 km        12,742 km
Mass:                  6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                               2                1
Distance from Sun:      227,943,824 km   149,598,262 km
Length of Year:         687 Earth days      365.24 days
Temperature:              -87 to -5 °C      -88 to 58°C

# Mars Hemispheres

In [108]:
the_url = 'https://marshemispheres.com/'
browser.visit(the_url)

#create list of urls for each hemisphere to go through 
hem_urls = []

links = soup.find_all('div', class_= 'item')
for link in links: 
    hem_urls.append(f"{the_url}{link.find('a', class_ = 'itemLink product-item')['href']}")

print(*hem_urls, sep = '\n')

https://marshemispheres.com/cerberus.html
https://marshemispheres.com/schiaparelli.html
https://marshemispheres.com/syrtis.html
https://marshemispheres.com/valles.html

In [ ]:
#using links above, iterate through list and pull info from each page
#put title and img src into dictionary